.containerr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center items */
  align-content: flex-start; /* Align items to the top */
  margin-top: 50px;
  gap:2em;
}

.a, .b, .c {
  background-color: rgb(247, 241, 240);
  width: 90px;
  height: 85px;
  border-radius: 50px;
  margin-left: 20px; /* Adjust the margin as needed */
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 30px;
}

.imp {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.fafile{
    margin-right: 20px;
    cursor:pointer;
}

.famag{
    margin-right: 20px;
    cursor: pointer;

}
.icon-containerr{
    display: flex;
    justify-content:start;
    margin-right: 90px;
    
}

.iframec{
    width:52%;
     height:500px;
     margin-left:270px;
}

.resume-container{
    width:100%;
    height: 500px;
}
.resume-icon {
    color: #ffd700;
  font-size: 25px;
  margin-right: 20px;
  }

  .popup_{
    color:#ffd700;
    font-size: 20px;
    text-align: center;

  }


.element-name{
    position: absolute;
            bottom: -28px;
            left: 50%;
            transform: translateX(-50%);
            background-color:#ffd700;

            padding: 3px 3px;
            border-radius: 4px;
            font-size: 12px;
            font-weight:bold;
            color: #070707;
            margin-top: 5px;
}


.portfolio-page {
  

  h1.page-title {
      margin-left: 600px;
      margin-top: 150px;

  }
}



@media screen and (max-width: 1200px) {

    .iframec{
        margin-top: 50px;
        width:100%;
         height:450px;
         margin-left: 0px;
         float: left;
    }

    .icon-containerr{
        display: flex;
        justify-content:start;
        margin-right: 90px;
        width:100%;
        
    }
    
}